!!!
%html{:lang => "en"}
%head
  %meta{:charset => "UTF-8"}/
  %title gifhub
%body
  .container
    %h1 GifHub Admin

  %link{:rel => :stylesheet, :type => :"text/css", :href => "/public/css/main.css"}
