!!!
%html{:lang => "en"}
%head
  %meta{:charset => "UTF-8"}/
  %title gifhub
  %link{:rel => :stylesheet, :type => :"text/css", :href => "css/main.css"}
%body
  .container
    %header.site--header.row
      .col-xs-10
        %h1.brand <span>gif</span>Hub
      .col-xs-2

    = yield
